.ssContainer{
	position:relative;
}
.slideNav{
		position:absolute;
		top:50%;
		width:100%;
		text-align:center;
		.sCirc{
			display:inline-block;
			position:relative;
			background:#e1e1e1;
			margin:10% 5px 0;
			bottom:0;
			border-radius:50px;
			transition:background 0.3s;
		}
		.sCirc:hover,.sCirc.current{
			background:gold;
		}
		div{
			width:50px;
			height:50px;
			background:gold;
			position:absolute;
			margin-top:-25px;
			z-index:2;
			cursor:pointer;
		}
		.lBtn{
			left:1%; 
		}
		.rBtn{
			right:1%;
		}
	} 
.slipSlide{
	position:relative;
	width:100%;
	display:inline-block;
	padding:30px 0;
	overflow:hidden;
	zoom: 1;
	font-size:0;
	
	.slideSpacer{
		display:inline-block;
		margin-left:0.5%;
	}
	img{
		word-spacing:0;
		width:17%;
		height:80%;
		display:inline-block;
		vertical-align:top;
		position:relative;
		opacity:0.5;
		margin:0 1.5%;
		transition:opacity 0.5s;
	}
	img.focus{
		opacity:1;
	}
	.slide{
		word-spacing:0;
		display:inline-block;
		vertical-align:top;
		position:relative;
		width:30.333%;
		background:red;
		margin:0 1.5%;
		transition:background 0.5s;
		
		p{
			font-size:5vw;
			top:0;
			font-weight:900;
			margin:0;
			position:absolute;
			color:#FFF;
		}
		img{
			width:100%;
			height:0;
			padding-bottom:100%;
		}
	 }
	 .mobile{
		 .slide:last-child,.slide:last-child img,img:last-child{
			margin:0 0 0 1.5%;
		 }
	}
	 .slide.focus{
		background:blue;
	 }
}
.slideSize{
	width:99%;
	margin:0 auto;
}
.slideSize.mobile{
	width:100%;
	overflow-x:auto;
	-webkit-overflow-scrolling:touch;
}
.slideWrap{
	position:relative;
	display:inline-block;
	float:left;
	white-space:nowrap;
}
@media (max-width:1200px){
	.slideSize{
		width:99%;
		margin:0 auto;
	}
	.slipSlide{
		margin-right:5%;
		.slide{
			width:45%;
			margin:0 2.5%;
		}
	}
}
@media (max-width:650px){ 
	.slipSlide{
		.slide{
			width:95%;
			margin:0 2.5%;
		}
	}
}