.wmSlider {
  position: relative;
  width: 100%;
  display: inline-block;
  padding: 30px 0;
  overflow: hidden;
  zoom: 1;
  font-size: 0; }
  .wmSlider .slideNav {
    position: absolute;
    top: 50%;
    width: 100%; }
    .wmSlider .slideNav div {
      width: 50px;
      height: 50px;
      background: gold;
      position: absolute;
      margin-top: -25px;
      z-index: 2;
      cursor: pointer; }
    .wmSlider .slideNav .lBtn {
      left: 1%; }
    .wmSlider .slideNav .rBtn {
      right: 1%; }
  .wmSlider .slide {
    word-spacing: 0;
    display: inline-block;
    position: relative;
    width: 30.333%;
    background: red;
    margin: 0 1.5%;
    transition: background 0.5s; }
    .wmSlider .slide img {
      width: 100%;
      height: auto; }
  .wmSlider .slide.focus {
    background: blue; }

.slideSize {
  width: 99%;
  margin: 0 auto;
  overflow: hidden; }

.slideWrap {
  position: relative;
  display: inline-block;
  float: left;
  white-space: nowrap; }

@media (max-width: 1200px) {
  .slideSize {
    width: 95%;
    margin: 0 auto;
    overflow: hidden; }

  .wmSlider .slide {
    width: 48%;
    margin: 0 1%; } }
@media (max-width: 850px) {
  .slideSize {
    width: 92%;
    margin: 0 auto;
    overflow: hidden; }

  .wmSlider .slide {
    width: 98%;
    margin: 0 1%; } }
